@model Identity.Api.Models.AccountViewModels.LoginViewModel


@{
    ViewData["Title"] = "Log in";
}
<section class="section-padding" id="loginPage">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <div class="booking-form">

                    <h2 class="text-center mb-lg-3 mb-2">Login</h2>

                    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div class="col-lg-6 col-12 mx-auto">
                            <input asp-for="Email" class="form-control" placeholder="Email" required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="col-lg-6 col-12 mx-auto">
                            <input asp-for="Password" class="form-control" placeholder="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="col-lg-6 col-12 mx-auto mt-3">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </div>

                        <div class="col-lg-3 col-md-4 col-6 mx-auto">
                            <button type="submit" class="form-control" id="submit-button">Log In</button>
                        </div>
                        <div class="col-lg-6 mt-3 col-12 mx-auto">
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </div>
                        <div class="col-lg-6 col-12 mx-auto">
                            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text">Register as a new user?</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
