@model Identity.Api.Models.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
<style type="text/css">

    #map {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .address {
        cursor: pointer
    }

        .address:hover {
            color: #AA0000;
            text-decoration: underline
        }
</style>
<div class="brand-header-block">
    <ul class="container">
        <li class="active">REGISTER</li>
        <li style="margin-right: 65px;"><a asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">LOGIN</a></li>
    </ul>
</div>
<div class="container register-container">
    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
        <h4 class="order-create-section-title">CREATE NEW ACCOUNT</h4>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="User.Name" class="control-label form-label">NAME</label>
                <input asp-for="User.Name" class="form-control form-input" />
                <span asp-validation-for="User.Name" class="text-danger" />
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="User.LastName" class="control-label form-label">LAST NAME</label>
                <input asp-for="User.LastName" class="form-control form-input" />
                <span asp-validation-for="User.LastName" class="text-danger" />
            </div>
            <div class="form-group col-sm-3">
                <label asp-for="User.PhoneNumber" class="control-label form-label">Téléphone</label>
                <input asp-for="User.PhoneNumber" placeholder="MM/YY" class="form-control form-input form-input-small" />
                <span asp-validation-for="User.PhoneNumber" class="text-danger" />
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="User.CityId" class="control-label form-label"></label>
                <input asp-for="User.CityId" class="form-control form-input" />
                <span asp-validation-for="User.CityId" class="text-danger" />
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="User.CabinetId" class="control-label form-label"></label>
                <input asp-for="User.CabinetId" class="form-control form-input" />
                <span asp-validation-for="User.CabinetId" class="text-danger" />
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="User.Address" class="control-label form-label">Adresse</label>
                <input asp-for="User.Address" class="form-control form-input" id="addr" />
                <span asp-validation-for="User.Address" class="text-danger" />
                <button type="button" onclick="addr_search();">Chercher Les Coordonnées Geo</button>
            </div>
            <div id="results"></div>
            <div class="form-group col-sm-6">
                <label asp-for="User.Latitude" class="control-label form-label">Latitude</label>
                <input asp-for="User.Latitude" class="form-control form-input" id="lat" />
                <span asp-validation-for="User.Latitude" class="text-danger" />
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="User.Longitude" class="control-label form-label">Longitude</label>
                <input asp-for="User.Longitude" class="form-control form-input" id="lon" />
                <span asp-validation-for="User.Longitude" class="text-danger" />
            </div>
            <div id="map"></div>

        </div>
        <br /><br />
        <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="Email" class="control-label form-label"></label>
                <input asp-for="Email" class="form-control form-input" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-offset-6"></div>
            <div class="form-group col-sm-6">
                <label asp-for="Password" class="control-label form-label"></label>
                <input asp-for="Password" class="form-control form-input" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="ConfirmPassword" class="control-label form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control form-input" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <br /><br />
        <div class="form-group">
            <button type="submit" class="btn btn-default btn-brand">&nbsp;Register&nbsp;</button>
        </div>
        <br /><br />
    </form>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript" src="~/js/lefletmapscript.js"></script>
}

